<el-dialog
  :title="$t('config.selectCountry')"
  :visible="showCountryConfig"
  width="30%"
  :before-close="handleClose"
  :close-on-click-modal="false"
  :close-on-press-escape="false"
  :center="true"
  :class="{ 'dark-theme': chatConfigForm.darkMode === true}">

  
  <el-row class="text-center my1" v-for="country in countryArray" :key="country">
    <el-button :type="countryConfig === country ? 'primary' : ''" @click="clickCountry(country)">
      <img :src="'/flags/' + country + '.png'" width="80" height="48"/>
    </el-button>
  </el-row>

  <div class="text-center">
    <el-button type="primary" class="mx1" @click="saveCountryConfig()">
      {{ $t('dialogs.save') }}
    </el-button>
    <el-button type="danger" class="mx1" @click="handleClose()">
      {{ $t('dialogs.cancel') }}
    </el-button>
  </div>
</el-dialog>

