<div class="chat-box">
    <div v-show="activeConversation !== null">
        <el-row class="pl1 py2 bb1 v-align" :class="{ 'dark-border': chatConfig.darkMode === true}">
            <el-col :span="3" class="max-size-header mr1">
                <img v-if="profileImageSrc !== null" class="b-full-circle img-fit b1 clickable" 
                :src="profileImageSrc" width="80" height="80"
                @click="clickContactDetails()"/>
                <div class="user-icon b-full-circle b1 clickable text-center v-align" 
                    v-if="profileImageSrc === null" @click="clickContactDetails()">
                    <font-awesome-icon icon="user" class="ml3"/>
                </div>
            </el-col>
            <el-col :span="16">
                <el-row>
                    <strong class="clickable" @click="clickContactDetails()" v-if="activeConversation">
                        {{ activeConversation.contact.name }}
                    </strong>
                </el-row>
                <el-row class="pb1" v-if="!isDisconnected">
                    <font-awesome-icon icon="circle"
                        class="text-label" 
                        :class="getPresenceColor(activeConversation.contact.presence.id)" 
                        v-if="activeConversation && !activeConversation.isTyping"/>
                    <span v-if="activeConversation && !activeConversation.isTyping">
                        {{ presenceValue }}
                    </span>
                    <span class="text-teal-clean text-bold" v-if="activeConversation && activeConversation.isTyping">
                        {{ $t('chatbox.typingLabel') }}
                    </span>
                </el-row>
            </el-col>
            <el-col :span="6">
                <el-button type="danger" size="mini" class="float-right mr1" plain @click="closeActiveConversation">
                    <font-awesome-icon icon="times"/>
                </el-button>
                <el-button type="info" size="mini" class="float-right mr1" plain @click="minimizeActiveConversation">
                    <font-awesome-icon icon="minus"/>
                </el-button>
            </el-col>
        </el-row>
        
        <el-row class="by1 size-conversation px3 z-index-1" id="message-box" 
            :class="{ 'bg-white': chatConfig.darkMode === undefined || chatConfig.darkMode === false, 
                'dark-theme': chatConfig.darkMode === true,
                'dark-border': chatConfig.darkMode === true}">

            <el-row class="text-center my1" v-if="activeConversation && activeConversation.oldConversation.noResult !== true">
                <intersect @enter="autoLoadOldMessages()" v-if="showAutoloading">
                    <el-button class="unclickable" round plain>
                        <font-awesome-icon icon="sync" class="icon-medium text-primary" spin></font-awesome-icon>
                    </el-button>
                </intersect>
                <el-button class="unclickable" round plain v-if="showAutoloading === false">
                    <font-awesome-icon icon="sync" class="icon-medium text-primary" spin></font-awesome-icon>
                </el-button>
            </el-row>

            <el-row class="text-center my1" v-if="activeConversation && activeConversation.oldConversation.noResult === true">
                <strong>{{ $t('chatbox.oldMessagesLimit') }}</strong>
            </el-row>

            <el-row v-if="activeConversation && activeConversation.list.length !== 0">
                <el-row v-for="(message, key) in activeConversation.list" :key="key">
                    <div id="newMessages">
                        <div class="float-right p1 m1 b-rounded message-style" 
                            :class="{ 'bg-light-teal': chatConfig.darkMode === undefined || chatConfig.darkMode === false, 
                                'bg-primary': chatConfig.darkMode === true }"
                            v-if="message.ownMessage">
                            <p class="m0">
                                <span v-html="parseMessage(message.msg)"></span>
                                <small class="float-right text-gray"> 
                                    {{ message.stampDate | isDateToday(appLocale) }}
                                </small>
                            </p>
                        </div>

                        <div class="float-left p1 m1 b-rounded message-style" 
                            :class="{ 'bg-light-gray': chatConfig.darkMode === undefined || chatConfig.darkMode === false, 
                                'bg-dark-light': chatConfig.darkMode === true }"    
                            v-if="message.ownMessage === false">
                            <p class="m0">
                                <span v-html="parseMessage(message.msg)"></span>
                                <small class="float-right text-gray"> 
                                    {{ message.stampDate | isDateToday(appLocale) }}
                                </small>
                            </p>
                        </div>
                    </div>
                </el-row>
            </el-row>
            
        </el-row>
        <el-row>
            <el-col :span="2" class="text-center">
                <coolpicker
                    :emojiData="emojiData" 
                    :emojiGroups="emojiGroups"
                    :recentEmojisFeat="true"
                    recentEmojisStorage="local"
                    recentEmojiStorageName="recent-emojis"
                    :skinsSelection="true"
                    :appendToBody="true"
                    :pickerWidth="495"
                    @emojiUnicodeAdded="selectEmoji"></coolpicker>
            </el-col>
            <el-col :span="20" class="mt1">
                <div class="chatbox-bg">
                    <cool-textarea 
                        :content.sync="chatBoxForm.message" 
                        ref="coolTextarea" 
                        @enterKey="submitMessage()" 
                        @sendTypingSignal="sendTypingSignal()"
                        @contentChanged="chatboxContentChanged"></cool-textarea>
                </div>
            </el-col>
            <el-col :span="2" class="text-center margin-chatbox-btn">
                <el-button class=" button-clean" native-type="button"
                    :disabled="isDisconnected" :loading="isSendingMessage" size="mini" @click="submitMessage()">
                    <font-awesome-icon icon="chevron-circle-right" class="icon-medium"/>
                </el-button>
            </el-col>
        </el-row>
    </div>
    <div v-show="activeConversation === null">
        <el-row class="text-center mt7">
            <img src="svg-emoji/pensive-emoji.svg" height="180px" width="180px" alt="Pensive Face" v-if="chatboxEmoji === 'pensive'"/>
            <img src="svg-emoji/thinking-emoji.svg" height="180px" width="180px" alt="Thinking Face" v-if="chatboxEmoji === 'thinking'"/>
            <img src="svg-emoji/happy-emoji.svg" height="180px" width="180px" alt="Thinking Face" v-if="chatboxEmoji === 'happy'"/>
            <img src="svg-emoji/confused-emoji.svg" height="180px" width="180px" alt="Confused Face" v-if="chatboxEmoji === 'confused'"/>
        </el-row>
        <el-row class="text-center text-bold text-big mt6">
            <span>{{ $t('chat.noOpenConversation') }} </span>
        </el-row>
        <el-row class="text-center text-bold text-big">
            <span>{{ $t('chat.tipNewConversation') }}  <font-awesome-icon icon="comment" class="icon-medium"/></span>
        </el-row>
    </div>
    <contact-details class="z-index-3" :activeContact="activeContact" 
        :showContactDetails="showContactDetails" 
        @closeContactDetails="closeContactDetails"></contact-details>
</div>
