.loading-dialog  {
    height: 100vh;
    width: 100vw;
}

.loading-text:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026";
    width: 0px;
}
  
@keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}