<div class="not-found">
    <el-row>
        <el-col :span="8" :offset="8">
            <p class="my2">
                <img src="@assets/img/detective.png" style="width: 100%; height: 100%;" alt="Detetive perdido"/>
            </p>
            <p class="my1 error-text-max">
                Oops!
            </p>
            <p class="my1 error-text-max">
                Página não encontrada!
            </p>
            <p class="my1 error-text-min">
                <router-link :to="{ path: '/'}">
                    Clique aqui
                </router-link>
                para voltar a página inicial.
            </p>
        </el-col>
    </el-row>
</div>
