.error-text-max {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: teal;
}

.error-text-min {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: teal;
}
