.max-h-64 {
  max-height: 84px;
}

.p-fix {
  padding: 5px;
}

.truncate-last-message {
  max-width: 290px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: inline-block !important;
}

.conversations {
  overflow-x: hidden;
  overflow-y: hidden;
}