
// Media Query Card Contact
@media (min-height: 910px) {
	.card-contact-list {
        max-height: 680px;
        height: 680px;
        min-height: 680px;
        overflow: auto;
    }
}

@media (min-height: 760px) and (max-height: 910px) {
	.card-contact-list {
        max-height: 550px;
        height: 550px;
        min-height: 550px;
        overflow: auto;
    }
}

@media (min-height: 660px) and (max-height: 760px)  {
	.card-contact-list {
        max-height: 500px;
        height: 500px;
        min-height: 500px;
        overflow: auto;
    }
}

@media (max-height: 660px)  {
	.card-contact-list {
        max-height: 460px;
        height: 460px;
        min-height: 460px;
        overflow: auto;
    }
}

// Media Query Card Chatbox
@media (min-height: 910px) {
	.card-chatbox {
        margin-top: 10px;
        margin-bottom: 10px;
        max-height: 860px;
        height: 860px;
        min-height: 860px;
        overflow: auto;
    }
}

@media (min-height: 760px) and (max-height: 910px) {
	.card-chatbox {
        margin-top: 10px;
        margin-bottom: 10px;
        max-height: 730px;
        height: 730px;
        min-height: 730px;
        overflow: auto;
    }
}

@media (min-height: 660px) and (max-height: 760px)  {
	.card-chatbox {
        margin-top: 3px;
        margin-bottom: 3px;
        max-height: 680px;
        height: 680px;
        min-height: 680px;
        overflow: auto;
    }
}

@media (max-height: 660px)  {
	.card-chatbox {
        max-height: 660px;
        height: 660px;
        min-height: 660px;
        overflow: auto;
    }
}