<el-row class="chat" :gutter="10">
    <el-col :offset="sizes.offsetAlert" :span="sizes.sizeAlert" class="my2" v-if="isDisconnected">
        <el-alert :title="disconnectedMessage" type="error" show-icon :closable="false"></el-alert>
    </el-col>
    <el-col :offset="sizes.offsetSideMenu" :span="sizes.sizeSideMenu" class="b-rounded px0" 
        :class="{ 'dark-theme': chatConfig.darkMode === true }">
        <chat-header :showContactList="showContactList" @switchActiveMenu="switchActiveMenu"></chat-header>
        <el-card class="card-contact-list" 
        :class="{ 'dark-theme': chatConfig.darkMode === true, 'dark-border': chatConfig.darkMode === true }">
            <el-row>
                <contact-list class="mx2" v-show="showContactList" 
                        @switchActiveMenu="switchActiveMenu"></contact-list>
                <conversations v-show="!showContactList"></conversations>
            </el-row>
        </el-card>
        <chat-config></chat-config>
    </el-col>
    <el-col :span="sizes.sizeChatbox" class="chatbox-col">
        <el-card class="card-chatbox bg-light-gray ov-hidden" 
            :class="{ 'dark-theme': chatConfig.darkMode === true, 
            'dark-light': chatConfig.darkMode === true,
            'dark-border': chatConfig.darkMode === true  }">
            <chat-box></chat-box>
        </el-card>
    </el-col>
    <loading-dialog></loading-dialog>
    <confirm-tab-dialog :showDialog="showConfirmTabDialog"></confirm-tab-dialog>
</el-row>
