<div class="login">
    <el-row class="mb2 mt5">
        <el-col :offset="8" :span="8">
            <el-alert v-if="isLoginExpired" class="mt1 mb2" 
                :title="$t('login.isLoginExpired')" 
                type="error" center show-icon>
            </el-alert>
            <el-alert v-if="isCredentialsInvalid" class="mt1 mb2" 
                :title="$t('login.isCredentialsInvalid')"
                type="error" center show-icon>
            </el-alert>
            <el-alert v-if="isLogout" class="mt1 mb2" 
                :title="$t('login.isLogout')"
                type="success" center show-icon>
            </el-alert>
        </el-col>
        <el-col :offset="8" :span="8">
            <el-card class="b-rounded pb2">
                <el-row class="text-center mt2"><img src="@assets/img/chat-logo.png" width="180" height="180"/></el-row>
                <el-form :model="loginForm" status-icon label-position="left" :rules="formRules" ref="loginForm" 
                    @submit.native.prevent="loginFormSubmit()">
                    <el-row>
                        <el-col :offset="3" :span="18">
                            <el-form-item prop="username">
                                <el-input :placeholder="$t('login.usernamePlaceholder')" v-model="loginForm.username" auto-complete="on" name="username">
                                    <i slot="suffix" class="el-input__icon"><font-awesome-icon :icon="userIcon"/></i>
                                </el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :offset="3" :span="18">
                            <el-form-item prop="password">
                                <el-input :placeholder="$t('login.passwordPlaceholder')" type="password" v-model="loginForm.password">
                                    <i slot="prefix" class="el-input__icon"><font-awesome-icon :icon="lockIcon"/></i>
                                </el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="24" class="text-center">
                            <el-button native-type="submit" type="primary" :loading="isLogging">
                                {{ $t('login.loginButton') }} <font-awesome-icon :icon="arrowRight"/>
                            </el-button>
                        </el-col>
                    </el-row>
                </el-form>
            </el-card>
        </el-col>
    </el-row>
</div>
